

.parentWrapper{
    background-color: #f4f0ec;
    padding: 3em 0em;
    border-radius: 2em;
    margin: 0em 1em;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family: "DM Serif Display";
    font-weight: 100;
    margin-bottom:1em ;
}

.wrapper{
    border-radius: 3em;
    margin: 0em 1em;
    background-color: white;
}

@media (max-width: 748px) {
    .title{
        font-size:30px;
    }
  }